*{
	font-family:'Raleway', sans-serif;
}
div.container 
{background-color: rgb(160,238,255);
margin-bottom:10px;
}

#divpad{
	padding-bottom:3%;
}

#clearcolor{
	background-color:white;
}

#clearpadleft{
	padding-left:0;
}
div.pictures
{
    float: right;
    height: 100%;
    overflow: hidden;
    padding-right: 40%;
    padding-bottom: 5%;
}
div.page-header
{
    height: 100px;

}
#bot {background-color: gray;}
.page-header {background-color: white;}
h1
{
    font-size: 200%;

}

.topnav {
    overflow: hidden;
    background-color: rgb(34, 49, 63);
}

a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: rgb(160,238,255);
	color:rgb(34, 49, 63);
}

.icon {
  display: none;
}

#map{
  width:400px;
  height:400px;
  background:white;
}

.active {
    background-color: rgb(160,238,255);
	color:rgb(34, 49, 63);
}

h2.subhead {
    color: rgb(52, 73, 94);

    font-size: 120%

}

h3.subhead {
    font-size: 110%
}


#gallery-wrapper{
  position: absolute;
  left: 90px;
  top: 20px;

  max-width: 700px;
}

.gallerybox {
    width: 350px;
    height: 232px;
    float: left;
    border: 1px solid black;
}

.blue {
  background-color: #003399;
}
.darkGrey {
    background-color: #CCCCCC;
}
.red {
    background-color: #FF0000;
}
.lightGrey {
    background-color: rgb(128,128,128);
}

@media screen and (max-width: 600px) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
