*{
	font-family:'Raleway', sans-serif;
}
div.container
{background-color: rgb(160,238,255);
margin-bottom:10px;
}

#comment{
	font-size:20px;
}

#divpad{
	padding-bottom:3%;
}

#clearcolor{
	background-color:white;
}

#navcolor{
	background-color: rgb(34, 49, 63);
}

#clearpadleft{
	padding-left:0;
}
div.page-header
{
    height: 100px;

}
#bot {background-color: gray;}
.page-header {background-color: white;}
h1
{
    font-size: 200%;

}

#title{
	font-size:300%;
}

#titlecolor{
	color: rgb(34, 49, 63);
	text-decoration: none;
}

#map{
  width:480px;
  height:378px;
  background:white;
}

img{
	width:100%;
	height:100%;
}

h2.subhead {
    color: rgb(52, 73, 94);

    font-size: 120%

}

h3.subhead {
    font-size: 110%
}


#gallery-wrapper{
  margin-left:auto;
  margin-right:auto;
  max-width: 700px;
}

.gallerybox {
    width: 350px;
    height: 232px;
    float: left;
    border: 1px solid black;
}

.blue {
  background-color: #003399;
}
.darkGrey {
    background-color: #CCCCCC;
}
.red {
    background-color: #FF0000;
}
.lightGrey {
    background-color: rgb(128,128,128);
}

span{
	color:red;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {
	background-color: rgb(34, 49, 63);
	float: left;}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width:10em;
}

ul.topnav li a:hover:not(.active) {
	background-color: #D8E0E2;
	color:rgb(34, 49, 63);
}

ul.topnav li a.active {
	background-color: rgb(160,238,255);
	color:rgb(34, 49, 63);
}

ul.topnav li.right {
	width:3em;
	display:none;
}

ul.bnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.bnav li {
	background-color: rgb(34, 49, 63);
	float: left;}

ul.bnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width:10em;
}

ul.bnav li a:hover:not(.active) {
	background-color: #D8E0E2;
	color:rgb(34, 49, 63);
}

ul.bnav li a.active {
	background-color: rgb(160,238,255);
	color:rgb(34, 49, 63);
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #D8E0E2;
		color:rgb(34, 49, 63)
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
		background-color: rgb(34, 49, 63);
    width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
		z-index: 999;
}

.dropdown-content a:hover {background-color: #D8E0E2;}

.dropdown:hover .dropdown-content {
    display: block;
}

#currentpage{
	color:white;
	display:none;
}

@media screen and (max-width: 768px) {
	#currentpage{
		display:inline-block;
		padding-top:14px;
		padding-left: 16px;
	}
	ul.topnav li {display: none;}
	ul.topnav li {
	width: 92%;
	}

	ul.topnav li a{
    text-align: left;
		width:100%;
  }

	ul.topnav li a.active{
		color:white;
		background-color: rgb(34, 49, 63);
	}

	ul.bnav li a.active{
		color:white;
		background-color: rgb(34, 49, 63);
	}

	ul.topnav li.right{
		display: block;
		float: right;
	}
	ul.topnav li a.icon {
		text-align: center;
		float: right;
		width:100%;
	}
	.dropdown-content {
	    width: 100%;
	}
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive li.right {
    position: absolute;
    right: 0;
    top: 0;
    float:right;
  }
  .topnav.responsive li{
    float: none;
    display: block;
    text-align: left;
    width:92%;
  }

	.topnav.responsive li a{
    text-align: left;
    width:100%;
  }

	ul.topnav li.right {
    width:8%;
}
	#title{
	padding-left:15px;
}

#comment{
	padding-left:15px;
}
}
